@font-face {
  font-family: "Gotham Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Bold"),
    url("../src/fonts/Gotham-Bold.otf") format("opentype");
  /* src: url('./fonts/AvenirLTStd-Roman.otf') format('otf'); */
  /* Add other formats as you see fit */
}

@font-face {
  font-family: "CervoNeue BoldNeue";
  font-style: normal;
  font-weight: normal;
  src: local("CervoNeue BoldNeue"),
    url("../src/fonts/CervoNeue-BoldNeue.otf") format("opentype");
}

body {
  margin: 0em;
  padding: 0em;
  overflow-y: hidden;
  overflow-x: hidden;
  /* overflow-y: scroll;
  overflow-x: scroll; */
  background-color: whitesmoke;
  margin-top: 5em;
  margin-left: 20em;
  /* margin-left: auto;
  margin-right: auto; */
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

#app-container {
  /* color: black; */
  /* background-color: lightcyan; */
  height: 30em;
  width: 50em;
  font-family: "CervoNeue BoldNeue";
  font-size: 0.85em;
  text-transform: uppercase;
  /* border-style: double; */
  /* border-color: lightskyblue; */
  border-width: 0.1em;
  text-decoration: none;
  /* line-height: 1.4em; */
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
  margin-top: 0.6em;
  padding: 0.5em;
  /* margin-bottom: 0.5em; */
  /* font-weight: 100; */
  /* border: none; */
  /* white-space: nowrap; */
}

#app-counter-container {
  /* color: black; */
  /* background-color: salmon; */
  height: 30em;
  width: 50em;
  font-family: "CervoNeue BoldNeue";
  font-size: 0.85em;
  text-transform: uppercase;
  /* border-style: dotted; */
  /* border-color: purple; */
  border-width: 0.1em;
  text-decoration: none;
  /* line-height: 1.4em; */
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
  margin-top: 0.1em;
  padding: 0.5em;
  /* margin-bottom: 0.5em; */
  /* font-weight: 100; */
  /* border: none; */
  /* white-space: nowrap; */
  /* display: inline-block; */
}

#button-container {
  /* color: black; */
  /* background-color: pink; */
  /* background-color: whitesmoke; */
  height: 30em;
  width: 40em;
  font-family: "CervoNeue BoldNeue";
  font-size: 0.85em;
  text-transform: uppercase;
  /* border-style: dashed; */
  /* border-color: whitesmoke; */
  border-width: 0.1em;
  text-decoration: none;
  /* line-height: 1.4em; */
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
  margin-top: 0.1em;
  padding: 2.5em;
  /* margin-bottom: 0.5em; */
  /* font-weight: 100; */
  /* border: none; */
  /* white-space: nowrap; */
  display: inline-block;
}

#counter-container-outer {
  display: inline-block;
  /* top: -2em;
  margin-top: -2em;
  padding-top: -2em; */
}

#button-container-decrement {
  display: inline-block;
}

#button-container-increment {
  display: inline-block;
}

#decrement {
  color: black;
  background-color: white;
  height: 3em;
  width: 11em;
  font-family: "CervoNeue BoldNeue";
  font-size: 0.85em;
  text-transform: uppercase;
  border-radius: 2em;
  border-width: 0.1em;
  border-color: black;
  text-decoration: none;
  line-height: 1.4em;
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
  /* padding-bottom: 0.5em; */
  padding-right: 2.9em;
  /* margin-bottom: 0.5em; */
  /* font-weight: 100; */
  /* border: none; */
  /* white-space: nowrap; */
  /* vertical-align: middle; */
  line-height: 1.9em;
  border-bottom: 1px solid #060606;
  position: relative;
  display: block;
  text-decoration: none;
  box-shadow: -2em 1.5em 0 #8a888888;
  transition: all 0.75s linear;
  z-index: 500;
}

#decrement:hover {
  color: white;
  background-color: black;
  /* white-space: normal;
    overflow: visible;
    content: ".";
    color: rgb(49, 49, 49); */
  transform: translate(0.9em, -0.9em);
  transition: all 0.25s linear;
  box-shadow: -2em 2em 0 #e1e1e1;
  /* z-index: -500; */
}

/* #decrement:before,
#decrement:after {
  transition: all 0.25s linear;
} */

#decrement:before {
  outline: none;
  width: 1em;
  top: 0.5em;
  left: -1em;
}

#decrement:after {
  outline: none;
  width: 1em;
  bottom: -2.5em;
  left: 1em;
  height: 14em;
}

#decrement:before,
#decrement:after {
  content: "";
  position: absolute;
  transition: all 0.25s linear;
  width: 0.5em;
}

#decrement:after {
  height: 8.5em;
  background: #181818cc;
  bottom: -4.55em;
  left: 5.05em;
  transform: rotate(90deg) skew(0, 36deg);
  z-index: -50000;
}

#decrement:before {
  height: 2.75em;
  /* background: whitesmoke; */
  background-color: transparent;
  color: transparent;
  top: 0.25em;
  left: 0.9em;
  transform: skewY(-55deg);
  border: none;
  z-index: -50000;
  /* border-radius: 12em; */
  /* background: #181818a9; */
}

#decrement:disabled,
#decrement[disabled] {
  border: 1px solid #9999998f;
  background-color: #ccccccb4;
  color: #6666664f;
  /* transform: skewY(-5deg);
  transform: rotate(90deg) skew(0, -20deg); */
  z-index: 1;
}

#increment {
  display: inline;
  color: white;
  background-color: hotpink;
  height: 3em;
  width: 11em;
  font-family: "CervoNeue BoldNeue";
  font-size: 0.85em;
  text-transform: uppercase;
  border-radius: 2em;
  border: none;
  line-height: 1.4em;
  /* justify-content: center;
  align-items: center;
  text-align: center; */
  padding-bottom: 0.5em;
  padding-right: 2.9em;
  /* padding-bottom: 0.5em; */
  /* margin-bottom: 0.5em; */
  /* font-weight: 800; */
  /* word-spacing: 10px; */
  /* padding: 1em; */
  /* margin: 1em; */
  /* color: #5855559d; */
  text-align: center;
  /* height: 2.5em;
  width: 8em; */
  line-height: 1.9em;
  border-bottom: 1px solid #060606;
  position: relative;
  display: block;
  text-decoration: none;
  box-shadow: -2em 1.5em 0 #8a888888;
  transition: all 0.75s linear;
  z-index: 500000;
}

#increment:hover {
  color: white;
  background-color: rebeccapurple;
  transform: translate(0.9em, -0.9em);
  transition: all 0.25s linear;
  box-shadow: -2em 2em 0 #e1e1e1;
  z-index: 500000;
}

/* #increment:before,
#increment:after {
  transition: all 0.25s linear;
  z-index: -500000;
} */

#increment:before {
  outline: none;
  width: 1em;
  top: 0.5em;
  left: -1em;
  z-index: -500000;
}

#increment:after {
  outline: none;
  width: 1em;
  bottom: -2.5em;
  left: 1em;
  height: 14em;
  z-index: -500000;
}

#increment:before,
#increment:after {
  content: "";
  position: absolute;
  transition: all 0.25s linear;
  width: 0.5em;
  z-index: -500000;
}

#increment:after {
  height: 8.5em;
  background: #181818cc;
  bottom: -4.55em;
  left: 5.05em;
  transform: rotate(90deg) skew(0, 36deg);
  z-index: -500000;
}

#increment:before {
  height: 2.75em;
  /* background: rgb(240, 111, 164); */
  background: transparent;
  color: transparent;
  top: 0.25em;
  left: 0.75em;
  transform: skewY(-55deg);
  border: none;
  z-index: -500000;
  /* border-radius: 12em; */
  /* background: #181818a9; */
}

#increment:disabled,
#increment[disabled] {
  border: 1px solid #9999998f;
  background-color: #ccccccb0;
  color: #6666666b;
  /* transform: skewY(-5deg);
  transform: rotate(90deg) skew(0, -20deg); */
  z-index: 1;
}

#div-tag-decrement-container {
  height: 2.4em;
  width: 2.4em;
  /* font-size: 1.65em; */
  /* list-style: none; */
  /* text-align: center; */
  /* align-items: center; */
  /* justify-content: center; */
  /* line-height: 0.8em; */
  padding-top: 0.001em;
  /* margin-bottom: 0.5em; */
  /* padding-right: 1.3em; */
  /* font-size: 2.1em; */
  display: inline-block;
  border-style: dotted;
  /* border-color: purple; */
  border-color: transparent;
  border-width: 0.001em;
}

#div-tag-decrement {
  /* height: 12.5em; */
  /* width: 13.5em; */
  /* font-size: 1.65em; */
  /* list-style: none; */
  /* text-align: center; */
  /* align-items: center; */
  /* justify-content: center; */
  /* vertical-align: auto; */
  line-height: 0.8em;
  padding-top: 0.01em;
  /* padding-right: 1.3em; */
  font-size: 2.1em;
  border-style: dashed;
  /* border-color: aqua; */
  border-color: transparent;
  border-width: 0.001em;
  height: 1.01em;
  width: 0.99em;
}

#div-tag-increment-container {
  height: 2.6em;
  width: 2.5em;
  /* font-size: 1.65em; */
  /* list-style: none; */
  /* text-align: center; */
  /* align-items: center; */
  /* justify-content: center; */
  /* line-height: 1.8em; */
  /* padding-top: 0.1em; */
  /* padding-right: 1.3em; */
  /* font-size: 2.1em; */
  border-style: dotted;
  /* border-color: white; */
  border-color: transparent;
  border-width: 0.001em;
  display: inline-block;
  top: 1em;
  /* margin-bottom: 2em; */
}

#div-tag-increment {
  /* height: 12.5em; */
  /* width: 13.5em; */
  /* font-size: 1.65em; */
  /* list-style: none; */
  /* text-align: center; */
  /* align-items: center; */
  /* justify-content: center; */
  line-height: 0.8em;
  padding-top: 0.005em;
  /* top: 1.5em; */
  /* bottom: 1.5em; */
  font-size: 2.1em;
  border-style: dashed;
  /* border-color: aqua; */
  border-color: transparent;
  border-width: 0.0001em;
  height: 1.15em;
  width: 0.9em;
}

.animate-charcter-decrement {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    rebeccapurple 0%,
    hotpink 19%,
    white 37%,
    black 50%,
    white 67%,
    hotpink 89%,
    rebeccapurple 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip-decrement 7s linear infinite alternate;
}

@keyframes textclip-decrement {
  to {
    background-position: 200% center;
  }
}

.animate-charcter-increment {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    black 0%,
    white 19%,
    hotpink 37%,
    rebeccapurple 50%,
    hotpink 67%,
    white 89%,
    black 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip-increment 6s linear infinite alternate;
}

@keyframes textclip-increment {
  to {
    background-position: 200% center;
  }
}

#counter-container {
  /* background-color: aqua; */
  border-style: groove;
  border-width: 0.1em;
  border-color: transparent;
  height: 2.7em;
  width: 8.9em;
  display: inline;
  margin-top: 2em;
  padding-top: 0.6em;
  color: white;
  text-align: center;
}

#counter {
  justify-content: center;
  background-color: lightgrey;
  color: gray;
  /* border-style: double;
  border-width: 0.1em;
  border-color: red; */
  height: 1.2em;
  width: 7em;
  margin-left: 1.8em;
  margin-right: 1.8em;
  margin-top: 0.1em;
  font-family: "CervoNeue BoldNeue";
  font-size: 0.95em;
  text-transform: uppercase;
  border-radius: 3em;
  display: inline-block;
  align-items: center;
}
/* The colors used are: `black`, `white`, `hotpink` and `rebeccapurple */

/* Detta är gammalt: */

.button-container {
  position: relative;
  transform: rotate(-10deg) skew(20deg, 10deg);
  font-family: "CervoNeue BoldNeue";
  list-style: none;
  z-index: 500;
  height: 2.5em;
  width: 8em;
  line-height: 2.5em;
  align-items: center;
  /* width: 24em; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.dott-container {
  height: 1em;
  width: 1em;
  display: inline;
  color: rgba(128, 128, 128, 0.671);
  /* font-family: "CervoNeue BoldNeue"; */
  font-size: 1.3em;
}

.red {
  height: 1em;
  width: 1em;
  display: inline;
  color: red;
  font-family: "CervoNeue BoldNeue";
  font-size: 1.3em;
}

.repo-container {
  margin-top: 3em;
  /* background-color: lightcyan;
  color: gray; */
}

.loading-container {
  margin-top: 3.3em;
  background-color: whitesmoke;
  /* background-color: lightskyblue; */
  /* color: whitesmoke; */
  color: blue;
}

.error-container {
  margin-top: 3.2em;
  width: 75%;
  background-color: red;
  color: whitesmoke;
}

.results-container {
  margin-top: 10px;
  /* height: auto; */
  /* height: 20vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* color: #b65234; */
  background-color: #b65234;
  /* font-family: "CervoNeue BoldNeue"; */
}

/* ::-webkit-scrollbar {
  width: 12px;
  color: transparent;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
} */

/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
  color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: transparent;
  color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: transparent;
  color: transparent;
  /* background: rgba(255, 0, 0, 0.8); */
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  /* background: rgba(255, 0, 0, 0.4); */
  background-color: transparent;
  color: transparent;
}

/* ::-webkit-scrollbar              { 
  background-color: transparent;
  color: transparent; 
} */
::-webkit-scrollbar-button {
  background-color: transparent;
  color: transparent;
}
/* ::-webkit-scrollbar-track        {
  background-color: transparent;
  color: transparent;
 } */
::-webkit-scrollbar-track-piece {
  background-color: transparent;
  color: transparent;
}
/* ::-webkit-scrollbar-thumb        {   
  background-color: transparent;
  color: transparent; 
} */
::-webkit-scrollbar-corner {
  background-color: transparent;
  color: transparent;
}
::-webkit-resizer {
  background-color: transparent;
  color: transparent;
}
